body,
html {
  height: 100%;
}
body {
  background-color: $color-background;
}
.container {
  margin-top: 100px;
  text-align: center;
}
.row {
  margin-top: 20px;
}
.col-lg-6,
.col-xl-3 {
  display: flex;
  justify-content: center;
}
