$color-navbar: #f4f3ee;
$color-background: #e5e5e5;
$color-accent: #c32c72;
$color-navfont: #8d8d8d;
$color-logo: #262626;
$color-white: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Open+Sans&display=swap');